# Environment
.env

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
._DS_Store
._*

# Data files
applications.csv
test.txt
_test.txt

# Git/GitHub folders
._git
._github
._idea
._venv
._requirements.txt

# Python cache
__pycache__/
*.pyc
